@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
    
    --primary-color: rgb(150, 164, 166);
    --primary-color-dark: rgb(2, 65, 87);
}
* {
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Fira-Sans', sans-serif;
    font-size: 1.3em;
    
}
.container{
    max-width: 640px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
form input, form label, form button{
    display: block;
    width: 560px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
form input:focus{
    outline: 1px solid var(--primary-color);
}
form button{
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 5px;
    
}
form button:hover{
    background: var(--primary-color-dark);
}
.corpo{
    background-color: #ccc;
    border-radius: 10px;

}
.corpo h2{
    margin-left: 20px;
}
.coluna{
    display: inline-block;
    width: 45%;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 40%;
  }
  .coluna p{
    font-size: 0.8em;
  }
  .coluna h5{
    font-size: 1.2em;
  }
  .resultado{
    font-size: 0.8em;
    
    margin-left: 20px;
    margin-right: 20px;
  }
.fim {
    display:flex;
    padding-left: 230px;
}
.bottonpdf{
    border: none;
    background:rgb(54, 136, 72);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
}
.tarefas{
    list-style: none;
}

.apagar {
    background:rgb(54, 136, 72);
}